.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid;
  border-radius: 20px;
  color: #ebebeb;
  background-color: #ebebeb;
}

#Titulo1 {
  text-align: center;
  color: #7F3554;
}

#Titulo2 {
  text-align: center;
  color: #545454;
}



.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 10px;

  border-radius: 20px;
  padding: 12px 20px;
  border: 2px;
  outline: none;

}

.btn {
  background-color: #7F3554;
  color: white;
  border-radius: 100px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;

}

.btn:hover {
  background-color: #7F3554;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.ng-valid:not(form).ng-touched {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form).ng-touched {
  border-left: 5px solid #a94442;
}

.btn-efecto {
  transition: all 0.3s ease-in-out;
  box-shadow: none;
}

.btn-efecto:hover {
  background-color: #692C45;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}

.btn-efecto:active {
  transform: scale(0.98);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


/* Estilos base para las notificaciones */
.notification {
  padding: 15px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateX(100%);
  animation: slideIn 0.5s ease-out forwards, fadeOut 0.5s ease-in 2.5s forwards;
}

/* Animación para mostrar la notificación */
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animación para ocultar la notificación */
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

/* Estilos específicos para notificaciones de éxito */
.notification.success {
  background-color: #28a745;
  /* Verde */
  border-left: 5px solid #218838;

}

/* Estilos específicos para notificaciones de error */
.notification.error {
  background-color: #dc3545;
  
  border-left: 5px solid #c82333;
 
}

/* Iconos opcionales para notificaciones */
.notification-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
  background-size: cover;
}

.notification.success .notification-icon {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/></svg>');
}

.notification.error .notification-icon {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/></svg>');
}
