.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid;
  border-radius: 20px;
  color: #ebebeb;
  background-color: #ebebeb;
}

#Titulo1 {
  text-align: center;
  color: #7F3554;
}

#Titulo2 {
  text-align: center;
  color: #545454;
}



.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 10px;

  border-radius: 20px;
  padding: 12px 20px;
  border: 2px;
  outline: none;

}

.btn {
  background-color: #7F3554;
  color: white;
  border-radius: 100px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;

}

.btn:hover {
  background-color: #7F3554;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.ng-valid:not(form).ng-touched {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form).ng-touched {
  border-left: 5px solid #a94442;
}

.btn-efecto {
  transition: all 0.3s ease-in-out;
  box-shadow: none;
}

.btn-efecto:hover {
  background-color: #692C45;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}

.btn-efecto:active {
  transform: scale(0.98);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


